body {
    background-color: #212121;
    color: white;
}

line {
    background-color: white;
    border-color: white;
}

iframe {
    border: none;
}

.block-label {
    color: grey;
}

.music-notes {
    color: lightseagreen;
}

.verse-lyrics {
    color: white;
}

.song-title {
    color: white;
}

.chorus-lyrics {
    color: white;
    font-weight: bold;
}
